<div id="counter">
  <% if @counter > 5 %>
    <% if I18n.locale == :'zh-CN' %>
      <p>从上次加入商品到购物车到现在，你已经访问这个页面 (<b><%= @counter %></b> 次) </p>
    <% else %>
      <p>You visited this page (<b><%= pluralize(@counter, "time") %></b>) since last add product to cart.</p>
    <% end %>
  <% end %>
</div>

<h1><%= t('.title_html') %></h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= link_to image_tag(product.image_url), line_items_path(:product_id => product), :method => :post, :remote => true %>
    <h3><%= product.title %></h3>
    <%= sanitize( simple_format(product.description) ) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to t('.add_html'), line_items_path(:product_id => product), :remote => true %>
    </div>
  </div>
<% end %>
