<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
    <div id="banner">
      <%= link_to image_tag('logo.png'), store_path %>
      <%= @page_title || 'Pragmatic Bookshelf' %>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <%= render @cart %>
        </div>

        <%= link_to 'Home', store_path %><br>
        <%= link_to 'Questions', '#' %><br>
        <%= link_to 'News', '#' %><br>
        <%= link_to 'Contact', '#' %><br>
        <span class="datetime"><%= Time.now.to_s(:long) %></span>
      </div>
      <div id="main">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
